header {
  padding: 10px;
  padding-left: 20px;
}

article p {
  color: yellow;
  background-color: orange;
}

header h2 {
 text-align: center; 
 font-family: Courier;
}

header h1 {
  font-size: 25px;
  font-family: Verdana;
}

aside section h4 {
  font-family: courier;
}

section p {
  font-family: avenir;
  color: #2562CC;
}

.blue {
  font-family: garamond;
  color: #E079B9;
}

aside section ul {
  color: #FA0CDA;
}